.container {
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  background-size: cover;
  min-height: 100vh;
  padding-top: 90px;
}
.photosTitle {
  text-align: center;
  color: #263238;
  font-size: 55px;
  margin-bottom: 50px;
}

.photosContainer {
  width: 1100px;
  height: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
