.firstTeam {
  width: 300px;
  height: 400px;
  transition: all 1s ease-in-out;
  border-radius: 5px;
  background-image: url(../../img/img1.png);
  background-position: center;
  background-size: cover;
  opacity: 0.9;

}

.secondTeam {
  width: 300px;
  height: 400px;
  transition: all 1s ease-in-out;
  border-radius: 5px;
  background-image: url(../../img/img2.png);
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}

.rotate {
  width: 300px;
  height: 400px;
  transition: all 1s ease-in-out;
  border-radius: 5px;
  animation-duration: 1s;
  background-color: #263238;
  
}
.desc{
  
}
span{
  color: white;
  font-size: 18px;
  animation-duration: 2s;
  animation-name: slidein;
}

 @keyframes slidein { 
  from {
    opacity: 0;
    margin-left: 100%;
    width: 300%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
} 

