.header {
  background-color: #212121;
  position: fixed;
  z-index: 1; /* this prevent overlapping fixed header */
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}

.logoContainer{
  width: 80px;
  height: 50px;
}

.linkItem {
  margin-right: 22px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}

.linkItem:last-child {
  margin-right: 0;
}


.phoneUsBtn{
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  border: 3px solid #ffffff;
  padding: 10px;
}