.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.linkItem {
  margin-right: 10px;
  font-size: 16px;
  text-decoration: none;
}
.linkItem:last-child {
  margin-right: 0;
}
