.header {
  background-color: #263238;
  position: fixed;
  z-index: 1; /* this prevent overlapping fixed header */
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}

.logoContainer {
  width: 80px;
  height: 50px;
}

.linkItem {
  margin-right: 22px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.activeLinkItem {
  margin-right: 22px;
  padding-bottom: 5px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid #fff;
}

.linkItem:last-child {
  margin-right: 0;
}

.phoneUsBtn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  border: 3px solid #ffffff;
  border-radius: 5px;
  padding: 10px;

  transition: all 200ms linear;
}

.phoneUsBtn:hover {
  border: 3px solid #d50000;
  color: #ffea00;
  transition: all 200ms linear;
}
