.container {
  width: 320px;
  margin: 25px 10px;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBlock {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBlock:last-of-type {
  margin-bottom: 0;
}

.blockTitle {
  font-size: 18px;
}

.blockText {
  text-align: center;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }

  .blockTitle {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 400px;
  }
}
