.container {
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.sectionTitle {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contactsBox {
  margin: 0 auto;
  width: 800px;
  height: 200px;

  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.address {
  width: 380px;
  height: 170px;
  background-color: #263238;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}
.socialMedia {
  width: 380px;
  height: 170px;
  background-color: #263238;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.socialLinks {
  display: block;
  font-size: 18px;
  color: #ffffff;
}
.phones {
  font-size: 18px;
  color: #ffffff;
}
