.container {
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.sectionTitle {
  text-align: center;
  font-size: 55px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 15px;
}

.clubsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.clubsList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  width: 250px;
  min-height: 200px;
  background-color: #263238;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;

  list-style: none;
  padding: 20px 0;
}

.listItem {
  width: 200px;
  margin-bottom: 5px;
}

.listItem:last-of-type {
  margin-bottom: 0;
}

.linkItem {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  min-height: 200px;
  background-color: #263238;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.scheduleTitle {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px;
}

.gymInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  min-height: 200px;
  background-color: #263238;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}
