.container {
  /* background-image: url("/src/img/img1.png"); */
  background: linear-gradient(#141e30, #243b55);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  padding-top: 100px;
}

.sectionTitle {
  text-align: center;
  font-size: 55px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 15px;
}

.clubsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.clubsList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  width: 250px;
  height: 200px;
  background-color: #263238;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;

  list-style: none;
}

.linkItem {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.activeLinkItem {
  background-color: coral;
  border-radius: 5px;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 700px;
  min-height: 200px;
  background-color: #263238;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.scheduleTitle {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px;
}

.gymInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  min-height: 200px;
  background-color: #263238;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}
