.container {
  margin: 25px 0;
  width: 320px;
}

.image {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 600px;
    margin: 30px 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    /* margin: 30px 0; */
  }
}
