.section {
  /* background-color: #263238; */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  height: 100vh;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.title {
  text-align: center;
  font-size: 55px;
  color: #ffffff;
  font-weight: 700;
}

.title span {
  letter-spacing: 5px;
}

.description {
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  text-align: justify;
}

.newsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
